.center {
  max-width: 1150px;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
}
button {
  height: 23px;
  outline: none;
  transition: all 0.3s;
}
button:hover {
  background-color: rgb(224, 224, 224);
}
p {
  margin: 0;
  color: red;
}
input {
  width: 280px;
  height: 25px;
  padding: 5px;
  font-size: 14pt;
  outline: none;
  border: 0px;
  border-bottom: 1px solid gray;
  background-color: #fff;
}
input:disabled {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
  -webkit-text-fill-color: #000;
}

/* -----signupForm------ */
label {
  display: block;
}

.center > form > div {
  width: 280px;
  margin: 20px 50px 20px 0;
  height: 80px;
  align-items: center;
}

.center > form > div > input {
  margin: 0 0 5px 0;
}
.submitBtn {
  border-radius: 2.5em;
  cursor: pointer;
  font-weight: 700;
  height: 2.85em;
  line-height: 2.85em;
  text-align: center;
  min-width: 10em;
  background-color: white;
  border: skyblue solid 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* -----dataTitle------ */
.dataTitle {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid #000;
}
.dataTitle > div {
  height: 40px;
  width: 280px;
  margin: 0 50px 0 0;
}
/* -----dataValue------ */
.dataValue {
  height: 60px;
}
.dataValue > div {
  height: 40px;
  width: 280px;
  margin: 5px 50px 5px 0;
}
.dataValue > button {
  height: 30px;
  cursor: pointer;
  border-radius: 2.5em;
  cursor: pointer;
  font-weight: 700;
  width: 80px;
  text-align: center;
  background-color: #fff;
  border: skyblue solid 1px;
  margin: 5px 0 5px 20px;
  transition: all 0.3s;
}
.dataValue > button:hover {
  background-color: rgb(224, 224, 224);
}
